/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --light-mode: #FFFFFF;
    --text-light: #000000;
    --dark-mode: #000000;
    --text-dark: #00CC14;
    --button-color: var(--);
    
}