/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url(../images/cover-image-light.png);
  --header-color: #FFC2E6;
  --text-color: #353430;
  --title-color: #353430;
  --accent-color: #FF8DCB;
  --attention-color: #353430;
  --background-color: #FFF1F7;
  --font-family: 'IBM Plex mono', Arial, sans-serif;
  --font-size: 18px;
  --line-height: 23.4px;
  --display: none;
  --acctive-color: none;
  --button-color: #353430;
  --active-color: #353430;
  --hover-color: #32312D66;
  --decorated-color:  #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --header-color: #FFC2E6;
    --text-color: #353430;
    --title-color: #353430;
    --accent-color: #FF8DCB;
    --attention-color: #353430;
    --background-color: #FFF1F7;
    --font-family: 'IBM Plex mono', Arial, sans-serif;
    --font-size: 18px;
    --line-height: 23.4px;
    --display: none;
    --acctive-color: none;
    --button-color: #353430;
    --active-color: #353430;
    --hover-color: #32312D66;
    --decorated-color:  #353430;
  }
}