/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-size: var(--font-size);
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {

}

.header_title {
font-size: 157px;
line-height: 129.53px;
}

.header_paragraph {

}