/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  max-inline-size: 1024px;
  font-family: var(--font-family), Arial, sans-serif;
  line-height: 23.4px;
  font-size: var(--font-size);
  color: var(--text-color);
  background-color: var(--background-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: var(--background-image);
}

.header {
  padding: 20px;
  display: grid;
  align-items: start;
  justify-items: end;
  position: relative;
  min-block-size: 768px;
  min-block-size: 100vh;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  z-index: 1;
  block-size: 25px;
  inline-size: 25px;
  margin: 10px;
}

.decorated-zone::before {
  inset-inline-end: 10px;
  inset-block-start: 10px;
  border-inline-end: 1px solid var(--decorated-color);
  border-block-start: 1px solid var(--decorated-color);
}

.decorated-zone::after {
  inset-inline-start: 10px;
  inset-block-end: 10px;
  border-inline-start: 1px solid var(--decorated-color);
  border-block-end: 1px solid var(--decorated-color);
}

.header__rec {
  position: absolute;
  display: var(--display);
  align-items: center;
  margin-block-start: 22px;
  margin-inline-end: 30px;
  color: var(--accent-color);
}

.header__rec::after {
  content: "";
  margin-inline-start: 10px;
  block-size: 9px;
  inline-size: 9px;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  border-radius: 50%;
}

.header__theme-menu {
  justify-self: center;
  margin-block-end: 40px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: wrap;
  gap: 13px;
}

.header__theme-menu-button {
  padding: 0px 13px 4.5px;
  background-color: transparent;
  color: var(--button-color);
  cursor: pointer;
  border: none;
  text-transform: lowercase;
  font-weight: 400;
  line-height: 18px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--active-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--active-color);
}

.page_title {
  margin-top: 70px;
  margin-inline-start: -21px;
  align-self: center;
  justify-self: start;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 129.53px;
  font-weight: 700;
  color: var(--header-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header_paragraph {
  margin-block-start: 55px;
  max-block-size: 71px;
  font-weight: 700;
  max-inline-size: 491px;
  color: var(--title-color);
  background-color: var(--accent-color);
}

.main {
  padding: 61px 20px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color);
}

.link:hover {
  border-block-end: 1px solid var(--hover-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--active-color);
}

.section {
  display: grid;
  gap: 20px;
}

.section__title {
  font-size: var(--font-size);
  font-weight: 700;
  color: var(--accent-color);
}

.title-decor {
  block-size: 23px;
  font-size: var(--font-size);
  font-weight: 700;
  color: var(--title-color);
  background-color: var(--accent-color);
}

.title-decor__special {
  font-weight: 400;
}

.article-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__cause {
  grid-template-columns: 315px 649px;
  column-gap: 20px;
}

.section__cause .article-content:nth-of-type(2) {
  grid-column-start: 2;
  grid-column-end: 3;
}

.section__elements {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 431px;
  column-gap: 20px;
}

.section__elements .section__title {
  max-inline-size: 315px;
  grid-column: 1 / 4;
}

.section__advice {
  grid-template-columns: 315px 649px;
  column-gap: 20px;
  row-gap: 10px;
}

.section__advice .section__title {
  grid-column: 1 / 2;
  grid-row: 1 / 12;
}

.section__advice .title-decor__special {
  margin-top: 11px;
}

.image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.section__gallery {
  grid-template-rows: 23px 260px 315px 428px;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.section__gallery .title-decor {
  grid-column-start: 1;
  grid-column-end: 4;
}

.pic:nth-of-type(1) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.pic:nth-of-type(2) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}

.pic:nth-of-type(3) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 5;
}

.pic:nth-of-type(4) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.pic:nth-of-type(5) {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

.footer {
  min-block-size: 768px;
  min-block-size: 100vh;
  display: grid;
  position: relative;
}

.footer .page_title {
  padding-left: 15px;
  padding-bottom: 70px;
  align-self: center;
  justify-self: center;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 129.53px;
  font-weight: 700;
  color: var(--header-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.footer .decorated-zone::before {
  inset-inline-end: 10px;
  inset-block-start: 10px;
}

.footer .decorated-zone::after {
  inset-inline-start: 10px;
  inset-block-end: 10px;
}

@media (width < 1024px) {
  .page {
    max-inline-size: 768px;
  }

  .header {
    min-block-size: 1024px;
    grid-template-rows: 300px auto 300px;
  }

  .header__rec {
    margin-block-start: 1px;
    margin-inline-end: 28px;
    inset-block-start: 20px;
  }

  .header__theme-menu {
    margin-block-start: 175px;
    justify-self: end;
    margin-bottom: 0px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .page_title {
    line-height: 99px;
  }

  .header .page_title {
    margin-block-start: 0;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header_paragraph {
    max-inline-size: 364px;
    max-block-size: 117px;
    margin-block-start: 20px;
  }

  .main {
    padding: 58px 20px;
    gap: 80px;
  }

  .section__cause {
    grid-template-columns: 236px 1fr;
  }

  .section__elements .section__title {
    max-inline-size: 236px;
    margin-block-end: 5px;
  }

  .section__elements {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }

  .section__advice {
    grid-template-columns: 236px 1fr;
    grid-template-rows: 23px auto auto auto auto auto;
  }

  .section__gallery {
    grid-template-rows: 23px 192px 230px 318px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .footer {
    min-block-size: 1024px;
    margin-block-start: 0px;
  }

  .footer .page_title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

}

@media (width < 768px) {
  .page {
    max-inline-size: 375px;
  }

  .header {
    padding: 10px;
    min-block-size: 668px;
    grid-template-rows: 200px auto 200px;
  }

  .decorated-zone::before {
    inset-inline-end: 0;
    inset-block-start: 0;
  }

  .decorated-zone::after {
    inset-inline-start: 0;
    inset-block-end: 0;
  }

  .header__rec {
    margin-inline-end: 20px;
    inset-block-start: 10px;
  }

  .header__theme-menu {
    block-size: 98px;
    margin-block-start: 65px;
  }

  .header__theme-menu-list {
    gap: 10px;
  }

  .header .page_title {
    line-height: 95.7px;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin: 0;
  }

  .main {
    display: flex;
    flex-direction: column;
    padding: 40px 10px 40px;
    gap: 50px;
  }

  .section {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }

  .section__title {
    min-inline-size: 355px;
  }

  .article-content {
    gap: 10px;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
  }

  .section__advice .title-decor:nth-of-type(1):not(.title-decor__special) {
    min-block-size: 47px;
  }

  .section__advice {
    gap: 15px;
  }

  .section__advice .title-decor {
    margin-block-start: 0;
  }

  .section__gallery {
    gap: 10px;
  }

  .image {
    display: block;
  }

  .footer {
    min-block-size: 668px;
    margin-block-start: 0px;
  }

  .footer .page_title {
    margin-block-start: 80px;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}
